.PlayerBox-externalFrame {
  position: relative;
  margin-bottom: 18px;
}

.PlayerBox-internalFrame {
  border: 1px solid ghostwhite;
  border-radius: 6px;
  padding: 12px;
  background-color: ghostwhite;
}

.PlayerBox-playerInfoFrame {
  position: absolute;
  bottom: -12px;
  height: 24px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.PlayerBox-playerInfo {
  position: relative;
}

.PlayerBox-playerInfoContent {
  position: relative;
  padding: 6px;
  z-index: 3;
  background-color: deepskyblue;

  border: 1px solid ghostwhite;
  border-radius: 6px;
}
