.PlayField-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: mediumblue;
  color: white;
}

.PlayField-fieldArea {
  height: 70vh;
  width: 100vw;

  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

.PlayField-playableArea {
  height: 70vh;
  width: 45vw;

  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.PlayField-thisPlayerArea {
  height: 30vh;
  width: 45vw;
}

.PlayField-otherPlayersArea {
  height: 70vh;
  width: 27.5vw;
}

.PlayField-thisPlayerArea,
.PlayField-otherPlayersArea {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
