.PlayerBox-externalFrame {
  position: relative;
  margin-bottom: 18px;
}

.PlayerBox-internalFrame {
  position: relative;

  border: 0.6vh solid ghostwhite;
  border-radius: 1vh;
  padding: 1.5vh 1.5vh 3vh;
  background-color: ghostwhite;

  display: flex;
  align-items: center;
  justify-content: center;
}

.PlayerBox-playerInfoFrame {
  position: absolute;
  bottom: -1.5vh;
  height: 3vh;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.PlayerBox-playerInfo {
  position: relative;
}

.PlayerBox-playerInfoContent {
  position: relative;
  padding: 0.6vh;
  z-index: 3;
  background-color: deepskyblue;

  border: 0.3vh solid ghostwhite;
  border-radius: 1vh;
  box-shadow: darkgrey;

  font-size: 3vh;
}
