.ResourceStack-container {
  position: relative;
}

.ResourceStack-circle {
  border-width: 0.3vh;
  border-radius: 50%;
  border-color: rgba(0, 0, 0, 0.5);
  border-style: solid;
  box-shadow: black 2px 2px 2px 0;
  width: 7vh;
  height: 7vh;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: center;
}

.ResourceStack-circle-base {
  opacity: 0.5;
  border-style: dotted;

  background-size: 4vh 4vh;
  background-repeat: no-repeat;
  background-position: center center;
}

.ResourceStack-circle-highlighted {
  border-color: black;
  font-weight: bold;
}

.ResourceStack-circle-head {
  position: relative;
}

.ResourceStack-circle-rest {
  position: absolute;
}

.ResourceStack-circleText {
  user-select: none;
  font-size: 3.5vh;
}
