.ResourceBox-container {
  border: 1px rgba(0, 0, 0, 0.5) solid;
  border-radius: 1px;
  box-shadow: 2px 2px 2px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  width: 2.5vh;
  height: 2.5vh;
  font-size: 2vh;
  color: black;
}

.ResourceBox-container + .ResourceBox-container {
  margin-top: 0.5vh;
}
