.Factory-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 14.8vw;
  height: 18vh;
  padding: 5px;
  box-sizing: border-box;
  background-color: white;
  border: 2px grey;
}

.Factory-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 1;
}

.Factory-costContainer {
  z-index: 2;
}

.Factory-costContainer > div {
  margin-bottom: 5px;
}
