.mineBoard {
    width: 400px;
    height: 440px;
    border: 2px dashed darkgrey;
    background: white;
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
}

.mineBoardText {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: black;
    font-family: serif;
    font-size: 64px;
    transform: rotate(-45deg);
    -webkit-text-stroke: 1px black;
    -webkit-text-fill-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    opacity: 0.5;
}

.mineBoardRow {
    display: flex;
    justify-content: space-around;
}