.ResourceStack-container {
  position: relative;
  width: 8vw;
  margin-bottom: 4px;
}

.ResourceStack-circle {
  border-width: 0.3vh;
  border-radius: 50%;
  border-color: #bbb;
  border-style: solid;
  width: 7vh;
  height: 7vh;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: center;
}

.ResourceStack-circle-base {
  opacity: 0.5;
  border-style: dotted;
}

.ResourceStack-circle-highlighted {
  border-color: black;
  font-weight: bold;
}

.ResourceStack-circle-head {
  position: relative;
}

.ResourceStack-circle-rest {
  position: absolute;
}

.ResourceStack-circleText {
  user-select: none;
  font-size: 20px;
}
