.stack {
  position: relative;
  height: 68px;
  margin-bottom: 4px;
}

.stackCircle {
  position: absolute;
  border-width: 4px;
  border-radius: 50%;
  border-color: #bbb;
  border-style: solid;
  width: 64px;
  height: 64px;
  box-sizing: border-box;
}

.stackCircle-base {
  opacity: 0.5;
  border-style: dotted;
}

.stackCircle-highlighted {
  border-color: black;
  font-weight: bold;
}

.stackCircleText {
  line-height: 60px;
  user-select: none;
  font-size: 20px;
  text-align: center;
}