.NewGameForm-inputRow,
.NewGameForm-buttonRow {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.NewGameForm-inputRow {
  justify-content: space-between;
}

.NewGameForm-buttonRow {
  justify-content: center;
}

.NewGameForm-inputRow + .NewGameForm-inputRow {
  padding-top: 6px;
}

.NewGameForm-buttonRow + .NewGameForm-buttonRow,
.NewGameForm-inputRow + .NewGameForm-buttonRow {
  padding-top: 12px;
}

.NewGameForm-inputRowLabel {
  width: 140px;
}

.NewGameForm-button {
  width: 120px;
}

.NewGameForm-textInput {
  border: none;
  border-bottom: 1px solid white;
  background-color: transparent;
  color: white;
  text-align: center;
}
