* {
  font-family: Lato, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

button {
  background-color: darkblue;
  color: white;
  border: 1px solid white;
  font-size: 20px;
  height: 32px;
  user-select: none;
  cursor: pointer;
}

button:disabled,
button:hover:disabled {
  background-color: darkgray;
  cursor: not-allowed;
}

button:hover {
  background-color: royalblue;
}
