* {
  font-family: Lato, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

button {
  background-color: darkblue;
  color: white;
  border: 1px solid white;
  font-size: 20px;
  height: 32px;
}

button:hover {
  background-color: royalblue;
}
